.ml-share-bar a {
	padding: 5px;
}

@media (max-width: 479px) {
	.ml-mobile {
		display: inline-block;
	}
}

@media (min-width: 480px) {

}


@media (min-width: 768px) {
	.ml-mobile {
		display: none;
	}
}


@media (min-width: 992px) {
}


@media (min-width: 1200px) {
}
