{{#if showList}}
    {{#if share.showShare}}
    <div class="col-sm-12 ml-share-bar">
        {{share.share_label}}
        <a href="https://twitter.com/share?url={{share.pageid}}wish={{share.userid}}" aria-label="{{share.share_label}} twitter" title="{{share.share_label}} twitter" target="_blank">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="whatsapp://send?text={{share.pageid}}wish_{{share.userid}}" data-action="share/whatsapp/share" aria-label="{{share.share_label}} whatsapp" title="{{share.share_label}} whatsapp" target="_blank">
            <i class="fab fa-whatsapp-square"></i>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{share.pageid}}wish={{share.userid}}" aria-label="{{share.share_label}} facebook" title="{{share.share_label}} facebook" target="_blank">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="mailto:?body={{share.pageid}}wish={{share.userid}}" aria-label="{{share.share_label}} email" title="{{share.share_label}} email" target="_blank">
            <i class="fas fa-envelope-square"></i>
        </a>
        <a href="{{share.pageid}}wish={{share.userid}}" aria-label="{{share.share_label}} link" title="{{share.share_label}} link" target="_blank">
            <i class="fas fa-share-square"></i>
        </a>
    </div>
    {{/if}}

    {{#if count.showCount}}
    <div class="col-sm-12">
        {{count.count_label}}: {{count.count}}
    </div>
    {{/if}}

    {{#each listitem}}
    <div class="col-sm-12">
        <div class="thumbnail gd-mylist-box">
            {{#if postimage}}
            <a href="{{posturl}}" aria-label="{{posttitle}}" title="{{posttitle}}">
                <img src="{{postimage}}" class="img-book img-responsive" alt="{{posttitle}}">
            </a>
            {{/if}}
            <div class="caption">
                <h3><a href="{{posturl}}">{{posttitle}}</a></h3>
                <p><small>{{postdate}} | {{postAuthorName}}</small></p>
                <p>
                    <a href="javascript:void();" 
                            class="btn btn-default js-gd-remove-mylist" 
                            id="mylist-{{showRemove.itemid}}" 
                            data-postid="{{showRemove.itemid}}" 
                            data-styletarget="{{showRemove.styletarget}}" 
                            data-userid="{{showRemove.userid}}"
                            aria-label="{{showRemove.label}}" title="{{showRemove.label}}" >
                            <i class="{{showRemove.icon}}"></i> {{showRemove.label}}
                    </a>
                </p>
            </div>
        </div>
    </div>
    {{/each}}
{{/if}}

{{#if showEmpty}}
    <div class="alert alert-dismissable alert-info">
        {{showEmpty.empty_label}}
    </div>
{{/if}}