{{#if showAdd}}
<a href="javascript:void();" 
    class="btn btn-default js-gd-add-mylist" 
    id="mylist-{{showAdd.itemid}}" 
    data-postid="{{showAdd.itemid}}" 
    data-styletarget="{{showAdd.styletarget}}" 
    data-userid="{{showAdd.userid}}" 
    aria-label="{{showAdd.label}}" title="{{showAdd.label}}" >
    <i class="{{showAdd.icon}}"></i> {{showAdd.label}}
</a>
{{/if}}

{{#if showRemove}}
<a href="javascript:void();" 
        class="btn btn-default js-gd-remove-mylist" 
        id="mylist-{{showRemove.itemid}}" 
        data-postid="{{showRemove.itemid}}" 
        data-styletarget="{{showRemove.styletarget}}" 
        data-userid="{{showRemove.userid}}" 
        aria-label="{{showRemove.label}}" title="{{showRemove.label}}" >
        <i class="{{showRemove.icon}}"></i> {{showRemove.label}}
</a>
{{/if}}

{{#if showLogin}}
<a href="javascript:void();" class="btn btn-default" onclick="javascritp:alert('{{showLogin.message}}')"
    aria-label="{{showLogin.label}}" title="{{showLogin.label}}" >
    <i class="{{showLogin.icon}}"></i> {{showLogin.label}}
</a>
{{/if}}

{{#if showLoading}}
<i class="{{showLoading.icon}}"></i>
{{/if}}
